<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./assets/mvp.css">

    <meta charset="utf-8">
    <meta name="description" content="AWESOME TECH - OpenFaas Template.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AWESOME TECH - FastAPI</title>

</head>

<body>
    <header>
        <nav>
            <a href="#"><img alt="logo" src="./assets/logo.svg" height="25"></a>
            <ul>
                <li>Home</li>
                <li><a href="https://github.com/alfranz/paas-comparison/" target="_blank">GitHub &nearr;</a>
                </li>
            </ul>
        </nav>
        <h1>This site runs on <u>FastAPI</u> and is deployed on <a href="{{ paas_url }}">{{ paas_name }}</a> ☁️</h1>
        <p><b>Check out how this was built in my <a
                    href="https://alexfranz.com/posts/deploy-container-apps-with-faasd/">blog article</a>.</p>
        <br>

        <h2>Styled with the powerful <a href="https://github.com/andybrewer/mvp/">MVP.css</a>.</h2>
    </header>


    <footer>
        <hr>
        <p>
            Made by <a href="https://www.alexfranz.com" target="_blank">Alex Franz
                &nearr;</a><br>
        </p>
    </footer>

</body>

</html>